allure-pytest==2.13.2
allure-python-commons==2.13.2
astroid==3.0.2
async-generator==1.10
attrs==23.1.0
autopep8==2.0.4
black==23.12.1
certifi==2023.5.7
cffi==1.15.1
click==8.1.7
colorama==0.4.6
dill==0.3.7
et-xmlfile==1.1.0
exceptiongroup==1.1.1
execnet==1.9.0
h11==0.14.0
idna==3.4
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
openpyxl==3.1.2
outcome==1.2.0
